html, body{
    height: 100%;
    margin: 0;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.item{
    grid-column: 2/3;
}
.white{
    color: white;
    font-weight: bolder;
    margin-bottom: 3rem;
}
.underline{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid lightgray;

}
.logo{
    max-width: 70%;
    height: auto;
    margin: 2rem;
    padding: 2rem;
}

.main{
    height: 100%;
    background-image: url("asset.jpg");
    max-height: 500px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;

    text-align: center;
}
.btn{
    margin-bottom: 4rem;
    font-weight: bold;
    border-width: medium;
    padding: 1rem;

}
.center{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    margin: 2rem;
}
.center h2 {
    font-weight: bolder;
    padding: 1rem;
}

@media only screen and (max-width: 600px) {

    h1 { 
       font-size: 5vw; 
    }
 
 }